body {
  text-align:center;
}

#container{
  background-color:pink;
  color:white;maargin:25px;
  padding:25px;border-radius:
  25px;color:purple;
}
#flashcard input[type=button]{
  background-color:#6767e1;
  color:pink;
  padding:12px;
}
#flashcard input[type=zero]{
  color:#6767e1;padding:8px;
}

#gallery input[type="button"]{
  background-color:#9370DB;
  color:#FFE4E1;
  font-weight:bolder;
  padding:15px;
  margin:3px;
  font-size:20px;
}

#gallery img{
  width:300px;
}

 
.box{
  border-style:solid;
  float:left;
  text-align:center;
  line-height:100px;
  vertical-align:middle;
  height:100px;
  width:100px;
  background-color:white;
  
}

#board{
  margin-left:auto;
  margin-right:auto;
  width:350px;
  height:350px;
}


#whatwhoami {
  margin-right:auto;
  margin-left:auto;
  background-color:#33FCFF;
  color:#AB6093;
  font-weight:bolder;  
  padding:20px;
  margin:5px;
  font-size:40px
}







