body{
 background-color:#edd8c4;
  padding:20px;
  text-align:center;
  
}

#container{
  width:100%;
  height:100%;
  background-color:#d1a77b;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  
}

#nav{
  float:left;
  text-align:left;

  
  width:130px;
  height:100%;
  border-right:solid;
  border-sidth:5px;
  padding-left:10px;
  
}

#welcome{
  padding-top:20px;
  
}
#main{
  
  text-align:right;
  background-color:#d1a77b;
  width:100%;
  height:100%;  
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
}
#banner{
  
  float:top;
  height:200px;
  width:100%;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
}
#flashcards{
  text-align:center;
  border-left:center;
}
.box{
  border-style:solid;
  float:left;
  text-align:center;
  line-height:100px;
  vertical-align:middle;
  height:100px;
  width:100px;
  background-color:white;
  
}

#board{
  margin-left:auto;
  margin-right:auto;
  width:350px;
  height:350px;
}

